# Created by .ignore support plugin (hsz.mobi)
/.idea/
/core/node_modules/
/lambdas/node_modules/
/mongo/node_modules/
/config.txt
/template-export.yml
/core/*.js
/core/*.js.map
/lambdas/*.js
/lambdas/*.js.map
/mongo/*.js
/mongo/*.js.map
